version: '3.8'

services:
  webapp:
    container_name: webapp
    build:
      context: .
      dockerfile: Dockerfile
    command: ["dotnet", "watch", "run", "--urls", "http://0.0.0.0:8080"]
    ports:
      - "8080:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - DOTNET_USE_POLLING_FILE_WATCHER=1
    volumes:
      - ./Views:/app/Views
      - ./wwwroot:/app/wwwroot
